html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#mapPlotting {
    height: 100%;
}

.navbar-brand {
    font-size: 15px;
}

.btn-links {
    color: #04b2ff;
    background-color: #fff;
    border: solid 2px #04b2ff;
}

.navbar-header {
    padding-top: 8px;
}

.from-location-input {
    margin-left: 25px;
    display: inline;
    width: 82%;
    margin-top: 5px;
}

.to-location-input {
    margin-left: 43px;
    display: inline;
    width: 82%;
    margin-top: 5px;
}

.latlong-input {
    display: inline;
    margin-top: 5px;
    width: 33%;
}

.grid-input {
    display: inline;
    width: 50%;
}

#btnGetRegion {
    margin-left: 20%;
}

#btnMapTrip {
    margin-left: 26px;
}
#btnResetTrip {
    margin-left: 37px;
}
#btnRegionOn {
    margin-top: 15px;
    margin-left: 15px;
}
#btnRegionOff {
    margin-top: 15px;
    margin-left: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 22px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #449d44;
}

input:focus + .slider {
  box-shadow: 0 0 1px #449d44;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.toggle {
    padding-top: 30px;
}

.region-padding{
    padding: 1px;
}